.File {
  display: flex;
  cursor: default;
  user-select: none;
  font-size: 1.1rem;
}

.File:hover {
  font-weight: bold;
}

.File__stat {
  width: 33.3333%;
}

.File__stat--icon {
  max-width: 20px;
}

.File__stat--size, .File__stat--modified {
  text-align: right;
}